@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body{
    background-color:rgb(42, 42, 46);
}
.wrapper{
    background-color: #54566f;
    width: 80vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    padding: 40px 20px;
    border-radius: 8px;
}

label{
    display: block;
}

span {
    position: relative;
    font-size: 22px;
    bottom: -1px;
}

.opt-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

button{
    background-color: rgb(54, 49, 84);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

input[type="color"]{
    appearance: none;
    background-color: transparent;
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
}

input[type="color"]{
    border-radius: 8px;
    border: 4px solid #000;
}

.gridCol {
    height: 1em;
    width: 1em;
    border: 1px solid #ddd;
}

.gridROW{
    display: flex;
    border: 1px solid #ddd;
}
/* Left at: 10:44*/